<div class="flex" style="height: 100%">
  <div>
    <div class="flex flex_align-center top-panel">
      <app-custom-input style="width: 300px" placeholder="Поиск"></app-custom-input>
      <button style="margin-left: auto; height: 40px" mat-flat-button>Добавить задачу</button>
    </div>
    <div class="cards">
      <ng-container *ngFor="let task of tasks">
        <app-short-card [task]="task" (onSelect)="selectedCard = selectedCard?.id === task.id ? null : task"></app-short-card>
      </ng-container>
    </div>
  </div>

    <app-full-card *ngIf="selectedCard" [card]="selectedCard"></app-full-card>
</div>

