.menu {
  width: 200px;
  height: 100%;
  padding: 20px;
  border-right: 1px solid lightgray;

  .logo {
    width: 100%;
    margin-bottom: 20px;
  }

  .item {
    display: flex;
    align-items: center;
    margin: 30px 0;
    &__text {
      font-size: 18px;
    }

    &__icon {
      margin-left: auto;
    }
  }

  .user {
    display: flex;
    flex-direction: column;

    &__icon {

    }
  }
}
