<div class="menu">
    <img src="./assets/img/logo.png" alt="logo" class="logo">

  <div class="item">
    <div class="item__text">Element</div>
    <div class="item__icon">ads</div>
  </div>

  <div class="item">
    <div class="item__text">Element</div>
    <div class="item__icon">ads</div>
  </div>

  <div class="item">
    <div class="item__text">Element</div>
    <div class="item__icon">ads</div>
  </div>

  <div class="item">
    <div class="item__text">Element</div>
    <div class="item__icon">ads</div>
  </div>

  <div class="user">
    <!--    <div class="user__icon">-->
    <!--      <mat-icon>account_circle</mat-icon>-->
    <!--    </div>-->
    <app-custom-input placeholder="Логин" password></app-custom-input>
    <app-custom-input placeholder="Пароль"></app-custom-input>
    <button mat-flat-button>
      Войти
    </button>
  </div>
</div>
