<div class="menu">
  <div class="logo"></div>

  <div class="item">
    <span class="item__text">Element</span>
    <span class="item__icon">ads</span>
  </div>

  <div class="item">
    <span class="item__text">Element</span>
    <span class="item__icon">ads</span>
  </div>

  <div class="item">
    <span class="item__text">Element</span>
    <span class="item__icon">ads</span>
  </div>

  <div class="item">
    <span class="item__text">Element</span>
    <span class="item__icon">ads</span>
  </div>
</div>
