<app-side-panel #sidePanelComponent>
  <div class="toggle-btn trigger" [ngClass]="sidePanelComponent.isOpen ? 'toggle-btn_open' : 'toggle-btn_close' ">
    <div class="toggle-btn__stick"></div>
    <div class="toggle-btn__stick"></div>
    <div class="toggle-btn__stick"></div>
  </div>

  <div class="flex flex_center menu__item">
    Пункт меню
  </div>
  <div class="flex flex_center menu__item">
    Пункт меню
  </div>
  <div class="flex flex_center menu__item">
    Пункт меню
  </div>
  <div class="flex flex_center menu__item">
    Пункт меню
  </div>
  <div class="flex flex_center menu__item">
    Пункт меню
  </div>
</app-side-panel>

