@import '~@angular/cdk/overlay-prebuilt.css';
html, body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex {
  display: flex;

  &_center {
    align-items: center;
    justify-content: center;
  }

  &_column {
    flex-direction: column;
  }

  &_align-center {
    align-items: center;
  }

  &_space-around {
    justify-content: space-evenly;
  }

  &_wrap {
    flex-wrap: wrap;
  }
}
